body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.linea{
    height: 150px;
    width: 150px;
    border: 2px solid green;
    position: relative;
}
.linea::after{
    content: "";
    background-color: black;
    left: 0;
    top: 0;
    position: absolute;
    width: 0px;
    transition: all 3s linear;
}
.linea:hover::after{
    width: 150px;
    height: 25px;
    left: -150px;
}
.linea::before{
    content: "";
    bottom: 0;
    position: absolute;
    width: 0px;
    transition: all 3s ease-in-out;
    background-color: aqua;
    right: 0;
}
.linea:hover::before{
    width: 150px;
    height: 150px;
    right: -150px;
    bottom: -50px;
    background-size: cover;

    background: url('https://http.cat/100');
}
