body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.linea{
    height: 30px;
    width: 150px;
    position: relative;
    cursor: pointer;
}
.linea::before{
    content: '';
    position: absolute;
    width: 0%;
    top: 18px;
    height: 4px;
    background-color: blue;
    transition: all 2s;
}
.linea:hover::before{
    content: '';
    width: 50%;
    position: absolute;
    top: 18px;
    transition: all 2s;
}